<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Welcome, {{ username }}</h1>

    <p>
        You are successfully logged in.
    </p>

    <div class="stats">

        <div class="stat-card">

            <h3>Total Users</h3>

            <p>{{ total_users }}</p>

        </div>

    </div>

    <a href="/logout">

        <button>
            Logout
        </button>

    </a>

</div>

</body>
</html>